.editAppraisalModal
  .ant-modal-content
  .ant-modal-body
  .ant-modal-confirm-body-wrapper
  .ant-modal-confirm-btns {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  flex: 1;
  float: none;
}
