.grid {
    border-right: 0.07rem solid #ebedf2;
    text-align: center;
}

.homeBtn {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    color: #ffffff;  
}


.purple {
    color: #591df1;
}
.pink{
    color: #fd27eb;
}
.yellow{
    color: #ffb822;
}
.green{
    color: #1dc9b7;
}

.purpleBtn{
    background-color: #591df1;
    border-color: #591df1;
}

.pinkBtn{
    background-color: #fd27eb;
    border-color: #fd27eb;
}

.yellowBtn{
    background-color: #ffb822;
    border-color: #ffb822;
}
.greenBtn {
    background-color: #1dc9b7;
    border-color: #1dc9b7;
}

h1 {
    font-size: 2.14rem;
    margin-bottom: 0.571rem;
    margin-top: 100px;
    color: #595d6e;
}
.qoute-text{
    font-size: 1.1rem;
    color: #a2a5b9;
    font-weight: 500
}