.ant-table {
  td {
    white-space: nowrap;
  }
  th {
    white-space: nowrap;
  }
}
.ant-input:disabled {
  background-color: #f7f8fa;
  color: black;
}
.ant-input-number-input:disabled {
  background-color: #f7f8fa;
  color: black;
}
